* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
}

:root ::selection {
  background-color: var(--yellow-4);
  color: var(--yellow-12);
}

:root{
  --gray-1: #fcfcfc;
  --gray-2: #f9f9f9;
  --gray-3: #f0f0f0;
  --gray-4: #e8e8e8;
  --gray-5: #e0e0e0;
  --gray-6: #d9d9d9;
  --gray-7: #cecece;
  --gray-8: #bbbbbb;
  --gray-9: #8d8d8d;
  --gray-10: #838383;
  --gray-11: #646464;
  --gray-12: #111111;

  --crimson-1: #fffcfd;
  --crimson-2: #fef7f9;
  --crimson-3: #ffe9f0;
  --crimson-4: #fedce7;
  --crimson-5: #facedd;
  --crimson-6: #f3bed1;
  --crimson-7: #eaacc3;
  --crimson-8: #e093b2;
  --crimson-9: #e93d82;
  --crimson-10: #df3478;
  --crimson-11: #cb1d63;
  --crimson-12: #621639;

  --yellow-1: #fdfdf9;
  --yellow-2: #fefce9;
  --yellow-3: #fffab8;
  --yellow-4: #fff394;
  --yellow-5: #ffe770;
  --yellow-6: #f3d768;
  --yellow-7: #e4c767;
  --yellow-8: #d5ae39;
  --yellow-9: #ffe629;
  --yellow-10: #ffdc00;
  --yellow-11: #9e6c00;
  --yellow-12: #473b1f;
  --base: #FFF;
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Syne Variable", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-family-syne: "Syne Variable", sans-serif;
  --font-family-mono: "JetBrains Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --elevation-1: 0px 1px 2px rgba(17, 17, 17, 0.18);
}

html.dark{
  --gray-1: #111111;
  --gray-2: #191919;
  --gray-3: #222222;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6e6e6e;
  --gray-10: #7b7b7b;
  --gray-11: #b4b4b4;
  --gray-12: #eeeeee;

  --crimson-1: #191114;
  --crimson-2: #201318;
  --crimson-3: #381525;
  --crimson-4: #4d122f;
  --crimson-5: #5c1839;
  --crimson-6: #6d2545;
  --crimson-7: #873356;
  --crimson-8: #b0436e;
  --crimson-9: #e93d82;
  --crimson-10: #ee518a;
  --crimson-11: #ff92ad;
  --crimson-12: #fdd3e8;

  --yellow-1: #14120b;
  --yellow-2: #1b180f;
  --yellow-3: #2d2305;
  --yellow-4: #362b00;
  --yellow-5: #433500;
  --yellow-6: #524202;
  --yellow-7: #665417;
  --yellow-8: #836a21;
  --yellow-9: #ffe629;
  --yellow-10: #ffff57;
  --yellow-11: #f5e147;
  --yellow-12: #f6eeb4;
  --base: #111210;

  --elevation-1: 0px 1px 2px #111210;
}

@font-face {
  font-family: 'Syne Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 800;
  src: url(@fontsource-variable/syne/files/syne-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

html {
  font-size: 15px;
}

html, body{
  background-color: var(--base);
  min-height: 100vh;
}

body {
  font-family: var(--font-family-sans);
  color: var(--gray-12);
  background-color: var(--base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > main{
  display: block;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
}

*:focus-visible{
  outline: 2px solid var(--yellow-11);
  outline-offset: 2px;
}

hr {
  border: 0;
  border-top: 1px solid var(--gray-3);
  margin: 0;
}

h1{
  color: var(--gray-12);
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: var(--font-family-syne);
  font-weight: 800;
  text-wrap: balance;
}

.intro{
  color: var(--gray-11);
  font-size: 1.375rem;
  line-height: 2rem;
  font-family: var(--font-family-syne);
}

.tile-list{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    transition: .2s ease;
  }

  li:not(:first-child){
    box-shadow: 0 1px 0 var(--gray-3) inset;

    &:hover{
      box-shadow: none;
    }
  }

  li:hover + li{
    box-shadow: none;
  }

  .tile-list-tile{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    padding: .75rem;
    text-decoration: none;
    border-radius: 6px;
    transition: background .2s ease;

    &:hover{
      background: var(--gray-3);
    }

    &:active{
      background: var(--gray-4);
    }
  }

  .title{
    color: var(--gray-12);
    font-size: 1rem;
    font-weight: 500;
  }

  .meta{
    color: var(--gray-11);
    font-size: 1rem;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (min-width: 768px) {
  body > main{
    max-width: 736px;
  }

  html{
    font-size: 16px;
  }
}
