.md{
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: var(--gray-12);

  > *:first-child{
    margin-top: 0;
  }

  h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 3rem 0 1.5rem;
    font-family: var(--font-family-syne);
    font-weight: 700;
  }

  h3{
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
    font-family: var(--font-family-syne);
    margin: 2rem 0 1.25rem;
  }

  p, ul, ol, blockquote, img, table{
    margin: 1.25rem 0;
  }

  ul:not(.tile-list), ol:not(.tile-list){
    padding-left: 1.875rem;
  }

  a:not(.tile-list-tile){
    color: var(--yellow-11);
    font-weight: 600;
    transition: color 0.2s ease, background 0.2s ease, outline 0.2s ease;
    text-decoration: none;
    outline: 2px solid transparent;

    &:hover{
      color: var(--yellow-12);
      background: var(--yellow-4);
      outline: 2px solid var(--yellow-4);
    }

    &:active{
      color: var(--yellow-12);
      background: var(--yellow-5);
      outline: 2px solid var(--yellow-5);
    }

    &:focus-visible{
      outline: 2px solid var(--yellow-11);
    }

    &[target="_blank"] {
      cursor: alias;
    }
  }

  hr{
    margin: 3rem 0;
  }

  aside{
    width: 100%;
    user-select: none;
    padding: .75rem;
    background: var(--gray-3);

    figure{
      margin: 0;
    }

    img{
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0;
    }

    figcaption{
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
      font-family: var(--font-family-syne);
      color: var(--gray-11);
      margin: 0.5rem 0 0;
    }
  }
}

@media (min-width: 540px){
  .md{
    aside{
      width: 280px;
    user-select: none;
    padding: .75rem;
    background: var(--gray-3);

    &.right{
      float: right;
      margin: 0 0 2rem 2rem;
      clear: right;
    }

    &.left{
      float: left;
      margin: 0 2rem 2rem 0;
      clear: left;
      }
    }
  }
}

@media (min-width: 980px){
  .md{
    aside{
      &.right{
        margin: 2rem -4rem 2rem 2rem;
      }
  
      &.left{
        margin: 2rem 2rem 2rem -4rem;
      }
    }
  }
}

@media (min-width: 1360px){
  .md{
    aside{
      &.right{
        margin: 0 calc(-280px - 2rem) 2rem 2rem;
      }
  
      &.left{
        margin: 0 2rem 2rem calc(-280px - 2rem);
      }
    }
  }
}

@media (min-width: 1480px){
  .md{
    aside{
      &.right{
        margin: 0 calc(-280px - 4rem) 2rem 4rem;
      }
  
      &.left{
        margin: 0 4rem 2rem calc(-280px - 4rem);
      }
    }
  }
}
