---
const today = new Date();
---

<footer>
  <ul>
    <li>
      <a href="/imprint">Imprint</a>
    </li>
    <li>
      <a href="/privacy">Privacy</a>
    </li>
  </ul>
  <div>
    <span>&copy; 2010-{today.getFullYear()} Ivo Mynttinen</span>
    <span>ivomynttinen.com&nbsp;•&nbsp;v.{today.getFullYear()}.{(today.getMonth() + 1).toString().padStart(2, '0')}.{today.getDate().toString().padStart(2, '0')}.{today.getHours().toString().padStart(2, '0')}</span>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
</style>
