---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const today = new Date();
---

<footer class={className}>
  <ul>
    <li>
      <a href="/imprint/">Imprint</a>
    </li>
    <li>
      <a href="/privacy/">Privacy</a>
    </li>
  </ul>
  <div>
    <span>&copy; 2010-{today.getFullYear()} Ivo Mynttinen</span>
    <span><span class="domain">ivomynttinen.com</span>&nbsp;·&nbsp;v.{today.getFullYear()}.{(today.getMonth() + 1).toString().padStart(2, '0')}.{today.getDate().toString().padStart(2, '0')}.{today.getHours().toString().padStart(2, '0')}</span>
  </div>
</footer>

<style lang="scss" scoped>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid var(--gray-3);
    padding: 1.5rem 0 2rem;
    text-align: center;
    font-size: .7rem;
    font-family: var(--font-family-mono);
    color: var(--gray-8);
    margin: 4rem auto 0 auto;
    max-width: calc(100vw - 2rem);
  }

  div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  ul{
    display: flex;
    margin: 0;
    list-style: none;
  }

  li {
    margin: 0 .75rem;
  }

  a{
    padding: .125rem;
    color: var(--gray-11);
    text-decoration: none;

    &:hover{
      color: var(--gray-12);
    }
  }

  .domain{
    display: inline-block;
    background: url(../assets/images/ivomynttinencom-lettering.png) no-repeat;
    background-size: contain;
    width: 151px;
    height: 13px;
    text-indent: -999rem;
  }

  html.dark .domain{
    filter: invert(1);
  }

  @media (min-width: 768px) {
    footer {
      text-align: left;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 680px;
    }

    ul{
      order: 2;
    }

    li{
      margin: 0 0 0 1.5rem;
    }

    footer.layout-blog{
      max-width: calc(100vw - 2rem);
      padding: 1.5rem 0 2rem 0;
    }
  }
</style>
