---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <a href="/" class="logo" title="Home">
      <svg width="22" height="22" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.06318 0.940845L0.105451 13.7729C0.0390796 13.9158 0.0439969 14.0817 0.11872 14.2205L3.00854 19.5873C3.207 19.9559 3.74345 19.932 3.90835 19.5472L6.5 13.5L13.5528 27.6056C13.737 27.9741 14.263 27.9741 14.4472 27.6056L21.5 13.5L24.0917 19.5472C24.2566 19.932 24.793 19.9559 24.9915 19.5873L27.8813 14.2205C27.956 14.0817 27.9609 13.9158 27.8945 13.7729L21.9368 0.940845C21.7605 0.561056 21.2234 0.553273 21.0361 0.927794L14 15L6.9639 0.927794C6.77664 0.553273 6.23951 0.561056 6.06318 0.940845Z" fill="var(--gray-11)"/>
      </svg>
    </a>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Writing</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
  <div class="toolbar">
    <button id="theme-button" aria-label="Toggle theme">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="moon" d="M11.6666 5V3.33334M10.8333 4.16667H12.5M15.8333 5.83334V9.16667M17.5 7.5H14.1666M14.5 13.3333C12.4166 14 9.99996 13.5833 8.33329 11.9167C6.24996 9.83334 6.08329 6.5 7.74996 4.16667C4.33329 4.5 1.66663 7.33334 1.66663 10.8333C1.66663 14.5 4.66663 17.5 8.33329 17.5C11.0833 17.5 13.5 15.75 14.5 13.3333Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="sun" d="M9.99992 15.2083V17.2917M9.99992 2.70833V4.79166M6.31742 13.6825L4.84409 15.1558M15.1558 4.84416L13.6824 6.3175M4.79158 9.99999H2.70825M17.2916 9.99999H15.2083M6.31742 6.3175L4.84409 4.84416M15.1558 15.1558L13.6824 13.6825M12.4999 9.99999C12.4999 11.3807 11.3806 12.5 9.99992 12.5C8.61921 12.5 7.49992 11.3807 7.49992 9.99999C7.49992 8.61928 8.61921 7.49999 9.99992 7.49999C11.3806 7.49999 12.4999 8.61928 12.4999 9.99999Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <div class="social-links">
      <HeaderLink href="https://mastodon.design/@ivomynttinen">Mastodon</HeaderLink>
      <HeaderLink href="https://twitter.com/ivomynttinen">X</HeaderLink>
      <HeaderLink href="https://layers.to/ivomynttinen">Layers</HeaderLink>
    </div>
  </div>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }

    window.localStorage.setItem("theme", theme || "");

    const handleToggleClick = () => {
      const element = document.documentElement;
      element.classList.toggle("dark");

      const isDark = element.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    };

    const themeToggle = document.getElementById("theme-button");
    if (themeToggle) {
      themeToggle.addEventListener("click", handleToggleClick);
    }
  });
</script>

<style lang="scss" scoped>
  header {
    display: flex;
    flex-direction: column;
    padding: .75rem 1rem;
    position: sticky;
    top: 0;
    z-index: 9;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -60px;
      z-index: -1;
      pointer-events: none;
      background: linear-gradient(180deg, #FFF 30%, rgba(255, 255, 255, 0.65) 65%, rgba(255, 255, 255, 0.00) 100%);
      transition: .3s ease-in-out;
    }
  }

  .logo{
    display: flex;
    transition: .2s transform ease-in-out, .2s opacity ease-in-out;
    opacity: .8;
    border-radius: 6px;
    outline-offset: 4px;

    &:hover{
      transform: scale(1.1);
      opacity: 1;
    }
  }

  nav{
    display: flex;
    align-items: center;
    gap: 24px;
  }

  nav, .toolbar {
    display: flex;
    align-items: center;
  }

  .internal-links{
    margin-left: auto;
  }

  .toolbar{
    justify-content: flex-end;
    margin-top: .25rem;
  }

  .internal-links,
  .social-links{
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .social-links{
    a{
      font-size: .8rem;
    }

    &:before{
      content: '';
      width: 1px;
      height: .75rem;
      border-radius: 1px;
      margin: 0 .25rem;
      background-color: var(--gray-6);
    }
  }

  button {
    border: 0;
    background: none;
    border-radius: 6px;
    color: var(--gray-11);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 24px;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;

    svg{
      width: 16px;
      height: 16px;
    }

    &:hover{
      color: var(--gray-12);
      background: var(--gray-2);
    }

    &:active{
      color: var(--gray-12);
      background: var(--gray-3);
    }

    &.active{
      color: var(--gray-12);
      background: var(--gray-3);
    }
  }

  .sun {
    opacity: 0;
  }

  .moon {
    opacity: 1;
  }

  :global(.dark) {
    .sun {
      opacity: 1;
    }

    .moon {
      opacity: 0;
    }

    header:after {
      background: linear-gradient(
        180deg,
        #111210 20%,
        rgba(17, 18, 16, 0.65) 60%,
        rgba(255, 255, 255, 0.00) 100%
      );
    }
  }

  @media (min-width: 540px) {
    header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:after{
        bottom: -32px;
      }
    }

    .internal-links{
      margin-left: 0;
    }

    .toolbar{
      justify-content: flex-start;
      margin-top: 0;
    }

    .social-links{
    a{
        font-size: .875rem;
      }
    }

    button svg{
      width: 20px;
      height: 20px;
    }
  }

</style>


